ul.navbar {
	list-style-type: none;
	margin-bottom: 32px;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
ul.navbar li {
	float: left;
}
ul.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.navbar li a:hover:not(.active) {
	background-color: #111;
}
ul.navbar li a.active {
	background-color: #09a0f6;
}
@media screen and (max-width: 600px){
	ul.navbar li.right,
	ul.navbar li {float: none;}
}
#drop_area {
	background: #f1f5fa;
	padding: 50px;
	margin-bottom: 20px;
	border: 2px dashed;
	border-radius: 8px;
	text-align: center;
}
ul.fs {
	padding: 0;
	margin: 0;
	list-style: none;
}
li.fs {
	cursor: pointer;
	box-shadow: 2px 2px 3px #666;
	user-select: none;
}
ul.fs li:hover {
	border-radius: 5px;
	background: #E1F5FE;
}
ul.fs li:active {
	background: #f1f5fa;
	border: solid 1px #03A9F4;
	//box-shadow: inset 0 0 0 1px black;
}
input[type=radio] {
	position: relative;
	visibility: hidden;
	display: none;
}
label.modesel {
	display: inline-block;
	color: #9a929e;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 20px;
}
input[type=radio]:checked + label {
	color: #03A9F4;
	background: #E1F5FE;
}
.radio-group {
	display: inline-block;
	border: solid 1px #03A9F4;
	border-radius: 5px;
	margin: 20px;
	overflow: hidden;
}